<template>
  <div class="container bg-8 pt-2 pb-2 mt-3">
    <h3 class="mt-3">Chi tiết bài đăng:</h3>
    <div class="table-responsive">
      <table class="table container mt-1">
        <tr>
          <th style="width: 10%" class="color-main">Tiêu đề</th>
          <td>{{ detail.title }}</td>
          <th>Tác giả</th>
          <td>{{ detail.author }}</td>
        </tr>
        <tr>
          <th>Thể loại</th>
          <td>{{ category.name }}</td>
          <th>Ngày viết</th>
          <td>{{ formatDate(detail.created_at) }}</td>
        </tr>
        <tr>
          <th>Ảnh bìa</th>
          <td colspan="3">
            <img
              :src="detail.image"
              alt="photo"
              style="max-width: 400px; max-height: 400px"
            />
          </td>
        </tr>
        <tr>
          <th>Nội dung</th>
          <td colspan="3" v-html="detail.content"></td>
        </tr>
      </table>
    </div>
    <div class="text-center mb-5">
      <span class="m-2" @click="backPage()"
        ><button class="btn btn-primary">Quay lại</button></span
      >

      <router-link
        :to="{ name: 'capNhatBaiDang', params: { idPost: detail.id } }"
      >
        <span class="m-2"
          ><button class="btn btn-success">Cập nhật</button></span
        >
      </router-link>
      <a @click="deletePost(detail.id)">
        <span class="m-2"><button class="btn btn-danger">Xoá</button></span>
      </a>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";

export default {
  data() {
    return {
      detail: {},
      id: "1",
      category: {},
    };
  },
  beforeMount() {
    this.detailPost();
  },

  methods: {
    detailPost() {
      this.id = this.$route.params.idPost;
      HTTP.get("/admin/post/detail-post/" + this.id).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detail = result.data;
          this.category = this.detail.category;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
    formatDate,
    backPage() {
      history.back();
    },

    deletePost(id) {
      this.$swal({
        title: "Xoá bài viết?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xoá!",
      }).then((result) => {
        if (result.value) {
          HTTP.delete(`/admin/post/delete-post/${id}`).then((res) => {
            let result = res.data;
            if (result.status === 1) {
              this.$swal("Đã xoá!", result.message, "success");
              setTimeout(function () {
                history.back();
              }, 1000);
            } else {
              this.$swal("", result.message, "error");
            }
          });
        }
      });
    },
  },
};
</script>
