<template>
  <div class="container bg-8 pt-2 mt-3">
    <h3 class="mt-3">Danh sách bài đăng:</h3>
    <router-link :to="{ name: 'themBaiDang' }">
      <span style="float: right" class="mb-2"
        ><button class="btn btn-primary">Thêm mới +</button></span
      >
    </router-link>
    <div class=" table-responsive">
    <table class="table table-hover container mt-1">
      <thead >
        <tr class="thead-dark">
          <th>#</th>
          <th style="width: 30%">Tiêu đề</th>
          <th>Tác giả</th>
          <th>Thể loại</th>
          <th>Ảnh bìa</th>
          <th>Ngày viết</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody class="">
        <tr v-for="(post, index) in listPost" :key="post.id">
          <td>{{ index + 1 }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.category.name }}</td>
          <td>
            <img
              :src="post.image"
              alt="photo"
              style="max-width: 200px; max-height: 200px"
            />
          </td>
          <td>{{ formatDate(post.created_at) }}</td>
          <td class="text-center">
            <router-link
              :to="{
                name: 'chiTietBaiDang',
                params: { idPost: post.id },
              }"
            >
             <a
                class="btn btn-primary btn-circle btn-sm mr-1"
              >
                <i class="fas fa-info-circle"></i>
              </a>
            </router-link>
            <a @click="deletePost(post.id)" class="btn btn-danger btn-circle btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- phân trang -->
        <!-- <div v-if="paginate.totalPage == 1"></div> -->
        <div class="mt-3" style="float:left">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              style="cursor: pointer; color: #d4476f !important"
              :class="{ disabled: paginate.currentPage === 1 }"
            >
              <span class="page-link" @click="changePage(1)">Đầu</span>
            </li>
            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage - 1)"
                v-if="paginate.currentPage > 1"
              >
                <i class="fas fa-angle-left"></i>
              </span>
            </li>

            <li
              class="page-item"
              v-for="(page, index) in paginate.totalPage"
              :key="index"
              :class="{ active: paginate.currentPage === page }"
              style="cursor: pointer"
            >
              <span
                class="page-link"
                @click="changePage(index + 1)"
                v-if="
                  index + 1 == paginate.currentPage ||
                  index + 1 == paginate.currentPage + 1 ||
                  index + 1 == paginate.currentPage - 1
                "
              >
                {{ index + 1 }}
              </span>
            </li>

            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage + 1)"
                v-if="paginate.currentPage < paginate.totalPage"
              >
                <i class="fas fa-angle-right"></i>
              </span>
            </li>
            <li
              class="page-item"
              style="cursor: pointer"
              :class="{
                disabled: paginate.currentPage == paginate.totalPage,
              }"
            >
              <span class="page-link" @click="changePage(paginate.totalPage)"
                >Cuối</span
              >
            </li>
          </ul>
        </div>
        <!-- ============ -->
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";

export default {
  data() {
    return {
      page: "",
      listPost: {},
       paginate: {
        currentPage: 1,
        totalPage: "",
      },
    };
  },
  beforeMount() {
    this.getListPost();
  },

  methods: {
     changePage(index) {
      this.paginate.currentPage = index;
      this.page = index;
      this.getListPost();
    },
    getListPost() {
      HTTP.get(`/admin/post/list-post?page=${this.page}&category_id=1`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listPost = result.data.data;
           this.paginate.currentPage = result.data.current_page;
            this.paginate.totalPage = result.data.last_page;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
    formatDate,

    deletePost(id){
        this.$swal({
        title: "Xoá bài viết?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xoá!",
      }).then((result) => {
        if (result.value) {
          HTTP.delete(
            `/admin/post/delete-post/${id}`
          ).then((res) => {
            let result = res.data;
            if (result.status === 1) {
              this.$swal("Đã xoá!", result.message, "success");
              this.getListPost();
            } else {
              this.$swal("", result.message, "error");
            }
          });
        }
      });
    }
  },
};
</script>


