<template >
  <div class="container bg-8">
    <h3 class="mt-3 pt-3 color-main">Thêm mới bài đăng:</h3>
    <form>
      <div class="row mt-3 text-center">
        <div class="col-3">
          <label for="" class="color-main">Tiêu đề:</label>
        </div>
        <div class="col-9 w-65">
          <input
            type="text"
            class="form-control border-main"
            placeholder="Nhập tên bài viết ..."
            name="title"
            v-model="post.title"
          />
        </div>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-3">
          <label for="" class="color-main">Tác giả:</label>
        </div>
        <div class="col-9 w-65">
          <input
            type="text"
            class="form-control border-main"
            placeholder="Nhập tên tác giả ..."
            name="author"
            v-model="post.author"
          />
        </div>
      </div>

      <div class="row mt-3 text-center">
        <div class="col-3">
          <label for="" class="color-main">Thể loại:</label>
        </div>
        <div class="col-9 w-65">
          <select class="form-select border-main" v-model="post.category_id">
            <option value="" class="color-main">
              -----Chọn thể loại bài viết-----
            </option>
            <option
              v-for="category in listCategory"
              :key="category.id"
              :value="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 text-center">
          <label for="" class="color-main">Ảnh bìa:</label>
        </div>
        <div class="col-8">
          <div class="row w-100">
            <div class="col-3">
              <input type="file" id="upload" hidden @change="onFileChange" />
              <label
                class="bg1 border-main"
                style="cursor: pointer"
                for="upload"
                v-if="url == ''"
              >
                Thêm ảnh bìa
              </label>
              <label
                class="bg1 border-main"
                style="cursor: pointer"
                for="upload"
                v-else
              >
                Đổi ảnh bìa
              </label>
            </div>
            <div class="col-8">
              <div
                class="bg w-65"
                id="preview"
                style="
                  cursor: pointer;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  height: 159px;
                "
              >
                <img
                  v-if="url"
                  :src="url"
                  alt=""
                  style="max-width: 25vw; max-height: 25vh; border-radius: 8px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5 text-center">
        <div class="col-3 text-center">
          <label for="" class="color-main">Nội dung:</label>
        </div>
        <div class="col-10" style="display: block; margin: 0 auto">
          <vue-editor
            :editorToolbar="customToolbar"
            :customModules="customModulesForEditor"
            :editorOptions="editorSettings"
            useCustomImageHandler  
            @imageRemoved="handleImageRemoved"
             @imageAdded="handleImageAdded"
           
            v-model="post.content"
          >
          </vue-editor>
        </div>
      </div>

      <!-- {{ post.content }} -->
      <div class="text-center mt-5 mb-5">
        <span type="submit" class="btn btn-primary m-3" @click="backPage">
          Quay lại
        </span>
        <span type="submit" class="btn btn-success m-3" @click="createPost">
          Thêm mới
        </span>
      </div>
    </form>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import { VueEditor, Quill } from "vue3-editor";
// import { ImageDrop } from 'quill-image-drop-module';
import ImageResize from "quill-image-resize-vue";
export default {
  components: {
    VueEditor,
  },
  data() {
    return {
      post: {
        category_id: "",
        title: "",
        author: "",
        image: "",
        content: "",
      },
      listCategory: {},
      url: "",
      customToolbar: [
        [{ font: [] }],

        [{ header: [false, 1, 2, 3, 4, 5, 6] }],

        [{ size: ["small", false, "large", "huge"] }],

        ["bold", "italic", "underline", "strike"],

        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" },
        ],

        [{ header: 1 }, { header: 2 }],

        ["blockquote", "code-block"],

        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],

        [{ script: "sub" }, { script: "super" }],

        [{ indent: "-1" }, { indent: "+1" }],

        [{ color: [] }, { background: [] }],

        ["link", "image", "video", "formula"],

        [{ direction: "rtl" }],
        ["clean"],
      ],
      customModulesForEditor: [
        // { alias: "imageDrop", module: ImageDrop },
        { alias: "imageResize", module: ImageResize },
      ],
      editorSettings: {
        modules: {
          // ImageDrop: true,
          imageResize: {},
        },
      },
    };
  },

  beforeMount() {
    this.getCategory();
  },
  methods: {
    onFileChange(e) {
      this.post.image = e.target.files[0];
      this.url = URL.createObjectURL(this.post.image);
      // console.log(this.post.image);
    },

    handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
      
      var formData = new FormData();
      formData.append("image", file);

      HTTP.post("admin/post/upload-image-post", formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      })
        .then((result) => {
          // alert(1);
          let url = result.data.data.image; // Get url from response
          // console.log(url);
          Editor.insertEmbed(cursorLocation, "image", url);
          resetUploader();
        })
        .catch((err) => {
          console.log(err);
        });
    },


    getCategory() {
      HTTP.get("/admin/category/list-category").then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listCategory = result.data;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },

    createPost() {
      let formData = new FormData();
      // console.log(this.post);
      formData.append("category_id", this.post.category_id);
      formData.append("title", this.post.title);
      formData.append("author", this.post.author);
      formData.append("image", this.post.image);
      formData.append("content", this.post.content);

      HTTP.post("/admin/post/create-post", formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.$swal("", result.message, "success");
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },

    backPage() {
      history.back();
    },
  },
};
</script>
<style scoped>
.bg1 {
  background: rgb(255 255 255);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
  border-radius: 20px;
  color: #243e56;
  padding: 7px 20px;
}
.fles {
  display: flex;
  align-items: center;
}
.w-65 {
  width: 65%;
}
</style>
