<template >
  <div class="container bg-8 pt-2 pb-2">
    <h3 class="mt-3">Cập nhật giới thiệu:</h3>
    <form>
      <div class="row mt-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Tiêu đề ..."
            name="title"
            v-model="post.label"
          />
        </div>
        <div class="col">
          <input
            type="file"
            class="form-control"
            placeholder="Chọn ảnh ..."
            name="image"
            @change="onFileChange"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <textarea
            cols="100"
            rows="7"
            class="form-control"
            placeholder="Nhập nội dung ..."
            name="author"
            v-model="post.content"
          />
        </div>
      </div>

      <span type="submit" class="btn btn-primary mt-3" @click="updateIntroduce">
        Cập nhật
      </span>
    </form>
  </div>
</template>
<script>
import { HTTP } from "@/main";

export default {
  data() {
    return {
      post: {
        label: "",
        content: "",
      },
    };
  },
  beforeMount() {
    this.detailIntroduce();
  },

  methods: {
    detailIntroduce() {
      this.id = this.$route.params.idIntroduce;
      HTTP.get("/admin/introduce/detail-introduce/" + this.id).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.post = result.data;
          this.category = this.detail.category;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
    onFileChange(e) {
      this.post.image = e.target.files[0];
      this.url = URL.createObjectURL(this.post.image);
      // console.log(this.post.image);
    },

    updateIntroduce() {
      let formData = new FormData();
      console.log(this.post);
      formData.append("label", this.post.label);
      formData.append("content", this.post.content);
      if (this.post.image) formData.append("image", this.post.image);
      formData.append("_method", "put");

      HTTP.post("/admin/introduce/update-introduce/" + this.id, formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.$swal("", result.message, "success");
          history.back();
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
  },
};
</script>
