<template>
  <div class="mb-5">
    <div class="container bg-8 pt-2 mt-3">
      <div class="container row p-0 m-0">
        <h3 class="col-6 mt-3 text-left pl-0">Giới thiệu:</h3>
        <div class="col-6 text-right mt-3 pr-0">
          <router-link :to="{ name: 'themGioiThieu' }">
            <span><button class="btn btn-primary">Thêm mới +</button></span>
          </router-link>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover container mt-1">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Tiêu đề</th>
              <th style="width: 50%">Nội dung</th>
              <th>Ảnh</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(introduce, index) in listIntroduce" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ introduce.label }}</td>
              <td>{{ introduce.content }}</td>
              <td v-if="introduce.image != null">
                <img
                  :src="introduce.image"
                  alt="icon"
                  style="max-width: 200px; max-height: 200px"
                />
              </td>
              <td v-else></td>

              <td class="text-center">
                <router-link
                  :to="{
                    name: 'capNhatGioiThieu',
                    params: { idIntroduce: introduce.id },
                  }"
                >
                  <a class="btn btn-primary btn-circle btn-sm mr-1">
                    <i class="fas fa-info-circle"></i>
                  </a>
                </router-link>
                <a
                  @click="deletePost(introduce.id)"
                  class="btn btn-danger btn-circle btn-sm"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";

export default {
  data() {
    return {
      page: "",
      listIntroduce: {},
      information: {},
    };
  },
  beforeMount() {
    this.getListIntroduce();
  },

  methods: {
    getListIntroduce() {
      HTTP.get("/admin/introduce/list-introduce").then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listIntroduce = result.data;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },

    deletePost(id) {
      this.$swal({
        title: "Xoá bài giới thiệu?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xoá!",
      }).then((result) => {
        if (result.value) {
          HTTP.delete(`/admin/introduce/delete-introduce/${id}`).then((res) => {
            let result = res.data;
            if (result.status === 1) {
              this.$swal("Đã xoá!", result.message, "success");
              this.getListIntroduce();
            } else {
              this.$swal("", result.message, "error");
            }
          });
        }
      });
    },
  },
};
</script>
