<template>
  <div class="container  table-responsive mt-3 bg-8">
    <h3 class="mt-3">Danh sách liên hệ tư vấn:</h3>
    <table class="table table-hover container mt-1">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th >Họ tên</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Ngày gửi</th>
          <th style="width: 30%">Nội dung</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(post, index) in listPost" :key="post.id">
          <td>{{ index + 1 }}</td>
          <td>{{ post.name }}</td>
          <td>{{ post.phone }}</td>
          <td>{{ post.email }}</td>
          <td>{{ post.address }}</td>
          <td>{{ formatDate(post.created_at) }}</td>
          <td>{{ post.content }}</td>

          <td class="text-center">
            <a @click="deletePost(post.id)" class="btn btn-danger btn-circle btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- phân trang -->
      <!-- <div v-if="paginate.totalPage == 1"></div> -->
      <div class="mt-3" style="float: left">
        <ul class="pagination justify-content-end">
          <li
            class="page-item"
            style="cursor: pointer; color: #d4476f !important"
            :class="{ disabled: paginate.currentPage === 1 }"
          >
            <span class="page-link" @click="changePage(1)">Đầu</span>
          </li>
          <li class="page-item" style="cursor: pointer">
            <span
              class="page-link"
              style="height: 100%"
              @click="changePage(paginate.currentPage - 1)"
              v-if="paginate.currentPage > 1"
            >
              <i class="fas fa-angle-left"></i>
            </span>
          </li>

          <li
            class="page-item"
            v-for="(page, index) in paginate.totalPage"
            :key="index"
            :class="{ active: paginate.currentPage === page }"
            style="cursor: pointer"
          >
            <span
              class="page-link"
              @click="changePage(index + 1)"
              v-if="
                index + 1 == paginate.currentPage ||
                index + 1 == paginate.currentPage + 1 ||
                index + 1 == paginate.currentPage - 1
              "
            >
              {{ index + 1 }}
            </span>
          </li>

          <li class="page-item" style="cursor: pointer">
            <span
              class="page-link"
              style="height: 100%"
              @click="changePage(paginate.currentPage + 1)"
              v-if="paginate.currentPage < paginate.totalPage"
            >
              <i class="fas fa-angle-right"></i>
            </span>
          </li>
          <li
            class="page-item"
            style="cursor: pointer"
            :class="{
              disabled: paginate.currentPage == paginate.totalPage,
            }"
          >
            <span class="page-link" @click="changePage(paginate.totalPage)"
              >Cuối</span
            >
          </li>
        </ul>
      </div>
      <!-- ============ -->
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";

export default {
  data() {
    return {
      page: "",
      listPost: {},
       paginate: {
        currentPage: 1,
        totalPage: "",
      },
    };
  },
  beforeMount() {
    this.getListPost();
  },

  methods: {
    changePage(index) {
      this.paginate.currentPage = index;
      this.page = index;
      this.getListPost();
    },
    getListPost() {
      HTTP.get("/admin/advisory/list-user-advisory?page=" + this.page).then(
        (res) => {
          let result = res.data;
          if (result.status === 1) {
            this.paginate.currentPage = result.data.current_page;
            this.paginate.totalPage = result.data.last_page;
            this.listPost = result.data.data;
          } else {
            this.$swal("", result.message, "error");
          }
        }
      );
    },
    formatDate,

    deletePost(id) {
      this.$swal({
        title: "Xoá bài viết?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xoá!",
      }).then((result) => {
        if (result.value) {
          HTTP.delete(`/admin/advisory/delete-advisory/${id}`).then((res) => {
            let result = res.data;
            if (result.status === 1) {
              this.$swal("Đã xoá!", result.message, "success");
              this.getListPost();
            } else {
              this.$swal("", result.message, "error");
            }
          });
        }
      });
    },
   
  },
};
</script>

