<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <div v-for="(item, index) in detail" :key="index">
          <img :src="item.image" alt="" class="w-100 mb-3" />
          <div class="mt-3">
            <!-- Các tiêu đề giới thiệu -->
            <span class="bg-btn-main">{{ toUp(item.label) }}</span>
            <p class="mt-3" style="font-weight: 600; text-align: justify" v-html="item.content">
              
            </p>
          </div>
          <!-- ========================= -->
        </div>
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">TÂM ĐIỂM MỚI</span>
        <router-link
          :to="{ name: 'chiTietTamDiem', params: { tamDiemId: topTd.slug } }"
        >
          <div class="tdm-img mt-4">
            <img :src="topTd.image" alt="" class="w-100" />
          </div>
          <div class="td-title mt-2">
            <h5 class="font-weight-bold text-overflow">
              {{ topTd.title }}
            </h5>
            <h6 class="td-infor">
              <span class="font-weight-bold"> {{ topTd.author }} </span>
              <!-- &middot; {{ formatDate(topTd.created_at) }} -->
            </h6>
            <p class="td-content text-overflow-3" v-html="topTd.content">
            
            </p>
          </div>
        </router-link>
        <hr />
        <!-- ======================================== -->
        <div v-for="(item, index) in listTamDiem" :key="index">
          <router-link
            :to="{ name: 'chiTietTamDiem', params: { tamDiemId: item.slug } }"
            v-if="index != 0"
          >
            <div class="row mt-3">
              <div class="col-md-4">
                <div class="td-2-img">
                  <img :src="item.image" alt="" class="w-100" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="td-2-title margin-top-15">
                  <h5 class="text-overflow font-weight-bold">
                    {{ item.title }}
                  </h5>
                </div>
                <div class="mt-3 td-2-info">
                  <h6 class="td-2-infor">
                    <span class="font-weight-bold"> {{ item.author }} </span>
                    <!-- &middot; {{ formatDate(item.created_at) }} -->
                  </h6>
                </div>
              </div>
            </div>
          </router-link>
        </div>
        <!-- ======================================== -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "gioiThieu",
  components: {
    loadingData,
  },
  data() {
    return {
      loading: true,
      detail: {},
      listTamDiem: {},
      topTd: {},
    };
  },
  created() {
    this.getListTD();
  },
  beforeMount() {
    this.getDetail();
  },
  methods: {
    // Danh sách
    getDetail() {
      HTTP.get(`/list-introduce`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detail = result.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================
    // Danh sách tâm điểm mới
    getListTD() {
      HTTP.get(`/list-post?category_id=2`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listTamDiem = result.data.data;
          this.topTd = this.listTamDiem[0];
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ===================

    // In hoa tiêu đề
    toUp(value) {
      return value.toUpperCase();
    },
    // ===============
    formatDate,
  },
};
</script>
<style scoped>
.td-2-img img {
  height: 100px;
}
.tdm-img img {
  height: 300px;
}
</style>
