<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7 col-sm-12 col-12 mt-5">
        <b style="font-size: 140%">YÊU CẦU TƯ VẤN</b>
        <form class="mt-4">
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Họ và tên"
                name="name"
                v-model="formSubmit.name"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input
                type="tel"
                class="form-control"
                id="phone"
                placeholder="Số điện thoại"
                name="phone"
                v-model="formSubmit.phone"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Email"
                name="email"
                v-model="formSubmit.email"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Địa chỉ"
                name="address"
                v-model="formSubmit.address"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="acount"
                placeholder="Nội dung cần tư vấn"
                name="acount"
                v-model="formSubmit.content"
              />
            </div>
          </div>
          <div class="text-center">
            <span @click="submitForm" class="btn btn-primary mt-4 pl-4 pr-4">
              Gửi ngay
            </span>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-sm-12 col-12 pl-5 padding-left-0 mt-5">
        <div class="borderx pt-3 pl-4">
          <b style="font-size: 140%">THÔNG TIN LIÊN HỆ</b>
          <div class="mt-4">
            <ul class="p-0">
              <li>
                <i class="fas fa-map-marker mr-2"></i>
                <span>{{ information.address }}</span>
              </li>
              <li>
                <i class="fas fa-phone mr-2"></i>
                <span>{{ information.phone }}</span>
              </li>
              <li>
                <i class="fas fa-envelope mr-2"></i>
                <span>{{ information.email}}</span>
              </li>
              <li>
                <i class="fas fa-globe-asia mr-2"></i>
                <span>{{ information.website}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { HTTP } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "lienHe",
  components: {
    loadingData,
  },
  data() {
    return {
      loading: true,
      formSubmit: {
        name: "",
        phone: "",
        email: "",
        address: "",
        content: "",
      },
      information: {},
    };
  },
  beforeMount(){
    this.getInformation();

  },
  methods: {
    getInformation(){
      HTTP.get(`/information`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
        this.information = result.data[0];
        } else {
           this.$swal("", result.message, "error");
        }
        this.loading = false;
      });
    },
    submitForm() {
      HTTP.post(`/create-user-advisory`, this.formSubmit).then((res) => {
        let result = res.data;
        if (result.status === 1) {
         this.$swal("", "Gửi tư vấn thành công!", "success");
          this.formSubmit.name = "";
          this.formSubmit.phone = "";
          this.formSubmit.email = "";
          this.formSubmit.address = "";
          this.formSubmit.content = "";
        } else {
           this.$swal("", result.message, "error");
        }
      });
    },
  },
};
</script>
<style scoped>
ul li {
  list-style: none;
  margin-top: 15px;
}
.borderx {
  border: 2px solid rgba(184, 184, 184, 0.5);
}
</style>
