<template>
  <div>
    <loadingData v-if="loading"></loadingData>
    <div v-else>
      <!-- Top News Start-->
      <div class="top-news">
        <div class="container">
          <div class="row">
            <div class="col-md-7 tn-left mt-3">
              <router-link
                :to="{ name: 'chiTietThuNgo', params: { thuNgoId: new1.slug } }"
                v-if="new1.category_id == 1"
              >
                <div class="tn-img new1">
                  <img :src="new1.image" />
                  <div class="tn-title">
                    <a href="">
                      <span class="bg-btn-new">NEW</span>
                      <h4
                        class="font-weight-bold mt-3 color-text-white"
                        style="line-height: 45px"
                      >
                        {{ new1.title }}
                      </h4>
                      <p class="color-text-white">
                        {{ new1.author }} &middot;
                        <!-- {{ formatDate(new1.created_at) }} -->
                      </p>
                    </a>
                  </div>
                </div>
              </router-link>
              <router-link
                :to="{ name: 'chiTietTamDiem', params: { tamDiemId: new1.slug } }"
                v-if="new1.category_id == 2"
              >
                <div class="tn-img new1">
                  <img :src="new1.image" />
                  <div class="tn-title">
                    <a href="">
                      <span class="bg-btn-new">NEW</span>
                      <h4
                        class="font-weight-bold mt-3 color-text-white"
                        style="line-height: 45px"
                      >
                        {{ new1.title }}
                      </h4>
                      <p class="color-text-white">
                        {{ new1.author }} &middot;
                        <!-- {{ formatDate(new1.created_at) }} -->
                      </p>
                    </a>
                  </div>
                </div>
              </router-link>
              <router-link
                :to="{
                  name: 'chiTietKetNoiYeuThuong',
                  params: { knytId: new1.slug },
                }"
                v-if="new1.category_id == 3"
              >
                <div class="tn-img new1">
                  <img :src="new1.image" />
                  <div class="tn-title">
                    <a href="">
                      <span class="bg-btn-new">NEW</span>
                      <h4
                        class="font-weight-bold mt-3 color-text-white"
                        style="line-height: 45px"
                      >
                        {{ new1.title }}
                      </h4>
                      <p class="color-text-white">
                        {{ new1.author }} &middot;
                        <!-- {{ formatDate(new1.created_at) }} -->
                      </p>
                    </a>
                  </div>
                </div>
              </router-link>
              <router-link
                :to="{ name: 'chiTietNhaHaoTam', params: { nhtId: new1.slug } }"
                v-if="new1.category_id == 4"
              >
                <div class="tn-img new1">
                  <img :src="new1.image" />
                  <div class="tn-title">
                    <a href="">
                      <span class="bg-btn-new">NEW</span>
                      <h4
                        class="font-weight-bold mt-3 color-text-white"
                        style="line-height: 45px"
                      >
                        {{ new1.title }}
                      </h4>
                      <p class="color-text-white">
                        {{ new1.author }} &middot;
                        <!-- {{ formatDate(new1.created_at) }} -->
                      </p>
                    </a>
                  </div>
                </div>
              </router-link>
            </div>
            <div class="col-md-5 tn-right h-100">
              <div class="row">
                <div class="col-md-12 mt-3">
                  <router-link
                    :to="{
                      name: 'chiTietThuNgo',
                      params: { thuNgoId: new2.slug },
                    }"
                    v-if="new2.category_id == 1"
                  >
                    <div class="tn-img new2">
                      <img :src="new2.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new2.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietTamDiem',
                      params: { tamDiemId: new2.slug },
                    }"
                    v-if="new2.category_id == 2"
                  >
                    <div class="tn-img new2">
                      <img :src="new2.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new2.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietKetNoiYeuThuong',
                      params: { knytId: new2.slug },
                    }"
                    v-if="new2.category_id == 3"
                  >
                    <div class="tn-img new2">
                      <img :src="new2.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new2.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietNhaHaoTam',
                      params: { nhtId: new2.slug },
                    }"
                    v-if="new2.category_id == 4"
                  >
                    <div class="tn-img new2">
                      <img :src="new2.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new2.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                </div>

                <div class="col-md-12 mt-3">
                  <router-link
                    :to="{
                      name: 'chiTietThuNgo',
                      params: { thuNgoId: new3.slug },
                    }"
                    v-if="new3.category_id == 1"
                  >
                    <div class="tn-img m-0 new2">
                      <img :src="new3.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new3.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietTamDiem',
                      params: { tamDiemId: new3.slug },
                    }"
                    v-if="new3.category_id == 2"
                  >
                    <div class="tn-img m-0 new2">
                      <img :src="new3.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new3.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietKetNoiYeuThuong',
                      params: { knytId: new3.slug },
                    }"
                    v-if="new3.category_id == 3"
                  >
                    <div class="tn-img m-0 new2">
                      <img :src="new3.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new3.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                  <router-link
                    :to="{
                      name: 'chiTietNhaHaoTam',
                      params: { nhtId: new3.slug },
                    }"
                    v-if="new3.category_id == 4"
                  >
                    <div class="tn-img m-0 new2">
                      <img :src="new3.image" />
                      <div class="tn-title tn-title-small">
                        <a href="">
                          <span class="bg-btn-new-small">NEW</span>
                          <h5 class="font-weight-bold mt-3 color-text-white">
                            {{ new3.title }}
                          </h5>
                        </a>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top News End-->

      <!-- Tâm điểm -->
      <div class="mt-5 container">
        <div class="row">
          <div class="col-md-7">
            <span class="bg-btn-main text-white">TÂM ĐIỂM</span>
            <!-- phần 1 -->
            <div class="row mt-4">
              <div class="col-md-6">
                <router-link
                  :to="{
                    name: 'chiTietTamDiem',
                    params: { tamDiemId: tamDiem.post1.slug },
                  }"
                >
                  <div class="td-img">
                    <img :src="tamDiem.post1.image" alt="" class="w-100" />
                  </div>
                  <div class="td-title mt-2">
                    <h5 class="font-weight-bold text-overflow">
                      {{ tamDiem.post1.title }}
                    </h5>
                    <h6 class="td-infor">
                      <span class="font-weight-bold">
                        {{ tamDiem.post1.author }}
                      </span>
                      <!-- &middot; {{ formatDate(tamDiem.post1.created_at) }} -->
                    </h6>
                    <p class="td-content text-overflow-3" v-html="tamDiem.post1.content">
                    </p>
                  </div>
                </router-link>
              </div>
              <div class="col-md-6">
                <router-link
                  :to="{
                    name: 'chiTietTamDiem',
                    params: { tamDiemId: tamDiem.post2.slug },
                  }"
                >
                  <div class="td-img">
                    <img :src="tamDiem.post2.image" alt="" class="w-100" />
                  </div>
                  <div class="td-title mt-2">
                    <h5 class="font-weight-bold text-overflow">
                      {{ tamDiem.post2.title }}
                    </h5>
                    <h6 class="td-infor">
                      <span class="font-weight-bold">
                        {{ tamDiem.post2.author }}
                      </span>
                      <!-- &middot; {{ formatDate(tamDiem.post2.created_at) }} -->
                    </h6>
                    <p class="td-content text-overflow-3" v-html="tamDiem.post2.content">
                    </p>
                  </div>
                </router-link>
              </div>
            </div>
            <!-- ======= -->

            <!-- phần 2 -->
            <div class="mt-3">
              <div v-for="(item, index) in tamDiem.general" :key="index">
                <router-link
                  :to="{
                    name: 'chiTietTamDiem',
                    params: { tamDiemId: item.slug },
                  }"
                  v-if="index >= 2 && index <= 4"
                >
                  <div class="row">
                    <div class="col-md-4">
                      <div class="td-2-img">
                        <img :src="item.image" alt="" class="w-100" />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="td-2-title margin-top-15">
                        <h5 class="text-overflow font-weight-bold">
                          {{ item.title }}
                        </h5>
                      </div>
                      <div class="mt-3 td-2-info">
                        <h6 class="td-2-infor">
                          <span class="font-weight-bold">
                            {{ item.author }}
                          </span>
                          <!-- &middot; {{ formatDate(item.created_at) }} -->
                        </h6>
                      </div>
                    </div>
                  </div>
                  <hr />
                </router-link>
              </div>
            </div>
            <!-- ====== -->
          </div>

          <div class="col-md-5">
            <span class="bg-btn-main text-white">KẾT NỐI YÊU THƯƠNG</span>
            <div class="row">
              <div class="col-md-12 mt-4">
                <router-link
                  :to="{
                    name: 'chiTietKetNoiYeuThuong',
                    params: { knytId: ketNoiYeuThuong.post.slug },
                  }"
                >
                  <div class="knyt-img">
                    <img
                      :src="ketNoiYeuThuong.post.image"
                      alt=""
                      class="w-100"
                    />
                  </div>
                  <div class="td-title mt-2">
                    <h5 class="font-weight-bold text-overflow">
                      {{ ketNoiYeuThuong.post.title }}
                    </h5>
                    <h6 class="td-infor">
                      <span class="font-weight-bold">
                        {{ ketNoiYeuThuong.post.author }}
                      </span>
                      <!-- &middot; {{ formatDate(ketNoiYeuThuong.post.created_at) }} -->
                    </h6>
                    <p class="td-content text-overflow-3" v-html="ketNoiYeuThuong.post.content">
                    </p>
                  </div>
                </router-link>
              </div>
              <!-- ================ -->
              <div class="mt-3">
                <div
                  v-for="(item, index) in ketNoiYeuThuong.general"
                  :key="index"
                >
                  <router-link
                    :to="{
                      name: 'chiTietKetNoiYeuThuong',
                      params: { knytId: item.slug },
                    }"
                    v-if="index >= 1 && index <= 3"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <div class="td-2-img">
                          <img :src="item.image" alt="" class="w-100" />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="td-2-title margin-top-15">
                          <h5 class="text-overflow-3 font-weight-bold">
                            {{ item.title }}
                          </h5>
                        </div>
                        <div class="mt-3 td-2-info">
                          <h6 class="td-2-infor">
                            <span class="font-weight-bold">
                              {{ item.author }}
                            </span>
                            <!-- &middot; {{ formatDate(item.created_at) }} -->
                          </h6>
                        </div>
                      </div>
                    </div>
                    <hr />
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ======== -->

      <!-- Banner -->
      <div class="mt-3 container">
        <div class="banner">
          <h1 class="text-white font-weight-bolt">
            Những tấm lòng đến với<br />
            người mù Tỉnh Lạng Sơn
          </h1>
        </div>
      </div>
      <!-- ====== -->

      <!-- Nhà hảo tâm -->
      <div class="mt-5 container">
        <div class="row">
          <div class="col-md-7">
            <span class="bg-btn-main text-white">NHÀ HẢO TÂM</span>
            <div class="row mt-4">
              <div class="col-md-6 mt-3">
                <router-link
                  :to="{
                    name: 'chiTietNhaHaoTam',
                    params: { nhtId: nhaHaoTam.post.slug },
                  }"
                >
                  <div class="nht-img">
                    <img :src="nhaHaoTam.post.image" alt="" class="w-100" />
                  </div>
                  <div class="td-title mt-2">
                    <h5 class="font-weight-bold text-overflow">
                      {{ nhaHaoTam.post.title }}
                    </h5>
                    <h6 class="td-infor">
                      <span class="font-weight-bold">
                        {{ nhaHaoTam.post.author }}
                      </span>
                      <!-- &middot; {{ formatDate(nhaHaoTam.post.created_at) }} -->
                    </h6>
                    <p class="td-content text-overflow-3" v-html="nhaHaoTam.post.content">
                    </p>
                  </div>
                </router-link>
              </div>
              <div class="col-md-6">
                <div v-for="(item, index) in nhaHaoTam.general" :key="index">
                  <router-link
                    :to="{
                      name: 'chiTietNhaHaoTam',
                      params: { nhtId: item.slug },
                    }"
                    v-if="index >= 1 && index <= 3"
                  >
                    <div class="row mt-3">
                      <div class="col-md-5">
                        <div class="td-2-img">
                          <img :src="item.image" alt="" class="w-100" />
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="td-2-title margin-top-15">
                          <h6 class="text-overflow-3 font-weight-bold">
                            {{ item.title }}
                          </h6>
                          <h6 class="td-infor">
                            <span class="font-weight-bold">
                              {{ item.author }}
                            </span>
                            <!-- &middot; {{ formatDate(item.created_at) }} -->
                          </h6>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 margin-top-15">
            <span class="bg-btn-main text-white" style="background: #333333"
              >LIÊN HỆ</span
            >
            <table class="table table-borderless w-100 mt-5">
              <tbody>
                <tr>
                  <td style="width: 15%">
                    <img src="../assets/image/facebook.png" alt="" style="max-width:50px" />
                  </td>
                  <td>{{contract.facebook.content}} Member</td>
                  <!-- <td>17.586 Member</td> -->
                  <td class="text-right">LIKE</td>
                </tr>
                <tr>
                  <td style="width: 5%">
                    <img src="../assets/image/twe.png" alt="" style="max-width:50px" />
                  </td>
                  <td>{{contract.twitter.content}} Followers</td>
                  <!-- <td>17.586 Followers</td> -->
                  <td class="text-right">FOLLOWERS</td>
                </tr>
                <tr>
                  <td style="width: 15%">
                    <img src="../assets/image/youtube.png" alt="" style="max-width:50px" />
                  </td>
                  <td>{{contract.youtube.content}} Subscribe</td>
                  <!-- <td>17.586 Subscribe</td> -->
                  <td class="text-right">SUBSCRIBE</td>
                </tr>
                <tr>
                  <td style="width: 15%">
                    <img src="../assets/image/zalo.png" alt="" />
                  </td>
                  <td>{{contract.zalo.content}} Member</td>
                  <!-- <td>17.586 Member</td> -->
                  <td class="text-right">Join</td>
                </tr>
                <tr>
                  <td style="width: 15%">
                    <img src="../assets/image/phone.png" style="max-width:50px"  alt="" />
                  </td>
                  <td>Hotline</td>
                  <td class="text-right">{{contract.hotline.content}}</td>
                  <!-- <td class="text-right font-weight-bold">19005647</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- =========== -->
    </div>
  </div>
</template>

<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "trangChu",
  components: {
    loadingData,
  },
  data() {
    return {
      loading: true,
      message: "",
      listNew: {},
      new1: {},
      new2: {},
      new3: {},
      thuNgo: {},
      tamDiem: {
        post1: {},
        post2: {},
        general: {},
      },
      ketNoiYeuThuong: {
        post: {},
        general: {},
      },
      nhaHaoTam: {
        post: {},
        general: {},
      },
      contract: {
        facebook: {},
        twitter: {},
        youtube: {},
        zalo: {},
        hotline: {},
      },
    };
  },
  beforeMount() {
    this.getListNew();
    this.getListThuNgo();
    this.getListTamDiem();
    this.getListNhaHaoTam();
    this.getListKetNoiYeuThuong();
    this.getListLienHe();
  
  },
  methods: {
    getListNew() {
      HTTP.get(`/list-post`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listNew = result.data.data;
          this.new1 = this.listNew[0];
          this.new2 = this.listNew[1];
          this.new3 = this.listNew[2];
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    formatDate,

    // danh sách thư ngỏ
    getListThuNgo() {
      HTTP.get(`/list-post?category_id=1`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.thuNgo = result.data.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================

    // danh sách tâm điểm
    getListTamDiem() {
      HTTP.get(`/list-post?category_id=2`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.tamDiem.post1 = result.data.data[0];
          this.tamDiem.post2 = result.data.data[1];
          this.tamDiem.general = result.data.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================

    // danh sách kết nối yêu thương
    getListKetNoiYeuThuong() {
      HTTP.get(`/list-post?category_id=3`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let ketNoiYeuThuong = result.data.data;
          this.ketNoiYeuThuong.post = ketNoiYeuThuong[0];
          this.ketNoiYeuThuong.general = ketNoiYeuThuong;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================

    // danh sách nhà hảo tâm
    getListNhaHaoTam() {
      HTTP.get(`/list-post?category_id=4`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let haoTam = result.data.data;
          this.nhaHaoTam.post = haoTam[0];
          this.nhaHaoTam.general = haoTam;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================

    // Liên hệ
    getListLienHe() {
      HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.contract.facebook = lienHe[0];
          this.contract.twitter = lienHe[1];
          this.contract.youtube = lienHe[2];
          this.contract.zalo = lienHe[3];
          this.contract.hotline = lienHe[4];
        } else {
          this.message = result.message;
        }
      });
    },
    
    // ===================

    formatDate,
  },
};
</script>
<style scoped>
/**********************************/
/********** Top News CSS **********/
/**********************************/
.top-news {
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
}

.top-news .tn-img {
  position: relative;
  overflow: hidden;
}

.top-news .tn-img img {
  width: 100%;
}

.top-news .tn-img:hover img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.top-news .tn-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 50px 20px 30px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.tn-title-small {
  padding: 15px 50px 10px 30px !important;
}
.top-news .tn-title a {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  text-decoration: none;
}

.top-news .tn-left .tn-title a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.top-news .tn-title a:hover {
  color: #ff6f61;
}

.top-news .tn-right .col-md-6 {
  padding: 0;
}

.top-news .slick-prev,
.top-news .slick-next {
  width: 28px;
  height: 28px;
  z-index: 1;
  transition: 0.5s;
  color: #ffffff;
  background: #000000;
  border-radius: 4px;
}

.top-news .slick-prev {
  left: 30px;
}

.top-news .slick-next {
  right: 30px;
}

.top-news .slick-prev:hover,
.top-news .slick-prev:focus,
.top-news .slick-next:hover,
.top-news .slick-next:focus {
  color: #ffffff;
  background: #ff6f61;
}

.top-news .slick-prev::before,
.top-news .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
}

.top-news .slick-prev::before {
  content: "\f104";
}

.top-news .slick-next::before {
  content: "\f105";
}
.banner {
  position: relative;
  text-align: center;
  background-color: #cccccc;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(9, 81, 112, 0.6) 4.74%,
      rgba(0, 138, 249, 0.6)
    ),
    url("../assets/image/Mask-Group.png");
}
.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table td {
  vertical-align: middle;
}
.td-img img {
  height: 150px;
}
.td-2-img img {
  height: 100px;
}
.knyt-img img {
  height: 250px;
}
.new1 img {
  height: 515px;
}
.new2 img {
  height: 250px;
}
.nht-img img {
  height: 200px;
}
.color-text-white {
  color: white;
}
.tn-title:hover .color-text-white {
  color: #ff6f61;
}
</style>
