<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <h2 class="font-weight-bold">
          {{ detailKnyt.title }}
        </h2>
        <div class="mt-3 td-2-info">
          <h6 class="td-2-infor">
            <span class="font-weight-bold"> {{ detailKnyt.author }} </span>
            <!-- &middot; {{ formatDate(detailKnyt.created_at) }} -->
          </h6>
        </div>
        <img :src="detailKnyt.image" alt="" class="w-100 mt-2" />
         <div class="ql-editor">
          <p class="mt-3" v-html="detailKnyt.content"></p>
        </div>
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">NHÀ HẢO TÂM</span>
        <div class="nht-img mt-4" v-for="(item, index) in listNht" :key="index">
          <router-link
            :to="{ name: 'chiTietNhaHaoTam', params: { nhtId: item.slug } }"
            v-if="index < 2"
          >
          <img
            v-if="index <= 3"
            :src="item.image"
            alt=""
            class="w-100 mt-3"
          />
          </router-link>
        </div>
        <!-- ========================================= -->
        <div class="mt-5">
          <span class="bg-btn-main">HỖ TRỢ TRỰC TUYẾN</span>
          <div class="mt-5 text-center">
            <img src="../../assets/image/Group782.png" alt="" />
            <h4 class="mt-3 font-weight-bold" style="color: #4f4f4f">
              Hotline: {{hotline}}
            </h4>
          </div>
        </div>
        <!-- ========================================= -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "chiTietKetNoiYeuThuong",
  components: {
    loadingData,
  },
  data() {
    return {
      loading: true,
      knyt_Id: "",
      detailKnyt: {},
      listNht: {},
      hotline: "",
    };
  },
  created() {
    this.knyt_Id = this.$route.params.knytId;
  },
  beforeMount() {
    this.getDetailKnyt();
    this.getListNht();
    this.getContact();
  },
  methods: {
    // chi tiết
    getDetailKnyt() {
      HTTP.get(`/detail-post/${this.knyt_Id}`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detailKnyt = result.data;
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ================

    // nhà hảo tâm
    getListNht() {
      HTTP.get(`/list-post?category_id=4`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listNht = result.data.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // =============
    formatDate,
    getContact(){
       HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.hotline = lienHe[4].content;
        } else {
          this.hotline = "";
        }
      });
    }
  },
};
</script>
<style scoped>
.nht-img img {
  height: 300px;
}
</style>
