<template>
  <div>
    <div class="s-layout">
      <!-- Sidebar -->
      <div class="s-layout__sidebar">
        <a class="s-sidebar__trigger" href="#0">
          <i class="fa fa-bars"></i>
        </a>
        <nav class="s-sidebar__nav">
          <h3 class="text-center pt-3">ADMIN</h3>
          <ul>
            <li>
              <router-link
                class="s-sidebar__nav-link"
                :to="{ name: 'lienHeAdmin' }"
                @click="isActive = 1"
                :class="{ active: isActive == 1 }"
              >
                <i class="fas fa-id-card-alt"></i><em>Liên hệ </em>
              </router-link>
            </li>
            <li>
              <router-link
                :to="{ name: 'DStuVan' }"
                class="s-sidebar__nav-link"
                @click="isActive = 2"
                :class="{ active: isActive == 2 }"
              >
                <i class="fas fa-certificate"></i><em>Danh sách tư vấn</em>
              </router-link>
            </li>
            <li>
              <a
                class="s-sidebar__nav-link"
                id="accordion"
                data-toggle="collapse"
                href="#collapseOne"
              >
                <i class="fas fa-mail-bulk"></i>
                <em>
                  Bài đăng
                  <i class="fas fa-chevron-down" style="margin-left: 85px"> </i>
                </em>
              </a>
              <div
                id="collapseOne"
                class="collapse show"
                data-parent="#accordion"
              >
                <div class="card-body p-0">
                  <ul class="p-0" style="margin-top: -6px">
                    <router-link :to="{ name: 'danhSachBaiDang'}">
                      <li
                        class="p-1 s-sidebar__nav-link sub-menu"
                        @click="isActive = 5"
                        :class="{ active: isActive == 5 }"
                      >
                        <div class="pl-4">
                          <i class="fas fa-address-card"></i>
                          <em>Tất cả bài đăng</em>
                        </div>
                      </li>
                    </router-link>
                    <router-link :to="{ name: 'danhSachBaiDangThuNgo'}">
                    <li
                      class="p-1 s-sidebar__nav-link sub-menu"
                      @click="isActive = 6"
                      :class="{ active: isActive == 6 }"
                    >
                      <div class="pl-4">
                        <i class="fas fa-address-card"></i><em>Thư ngỏ</em>
                      </div>
                    </li>
                    </router-link>
                    <router-link :to="{ name: 'danhSachBaiDangTamDiem'}">
                    <li
                      class="p-1 s-sidebar__nav-link sub-menu"
                      @click="isActive = 7"
                      :class="{ active: isActive == 7 }"
                    >
                      <div class="pl-4">
                        <i class="fas fa-air-freshener"></i><em>Tâm điểm</em>
                      </div>
                    </li>
                    </router-link>
                    <router-link :to="{ name: 'danhSachBaiDangKnyt'}">
                    <li
                      class="p-1 s-sidebar__nav-link sub-menu"
                      @click="isActive = 8"
                      :class="{ active: isActive == 8 }"
                    >
                      <div class="pl-4">
                        <i
                          class="fas fa-american-sign-language-interpreting"
                        ></i
                        ><em>Kết nối yêu thương</em>
                      </div>
                    </li>
                    </router-link>
                    <router-link :to="{ name: 'danhSachBaiDangNht'}">
                    <li
                      class="p-1 s-sidebar__nav-link sub-menu"
                      @click="isActive = 9"
                      :class="{ active: isActive == 9 }"
                    >
                      <div class="pl-4">
                        <i class="fas fa-air-freshener"></i><em>Nhà hảo tâm</em>
                      </div>
                    </li>
                    </router-link>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <router-link
                :to="{ name: 'gioiThieuAdmin' }"
                class="s-sidebar__nav-link"
                @click="isActive = 4"
                :class="{ active: isActive == 4 }"
              >
                <i class="fas fa-network-wired"></i><em>Giới thiệu</em>
              </router-link>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Content -->
      <main class="s-layout__content">
        <div><nav-bar></nav-bar></div>
        <div class="pl-4 pt-3">
          <router-view></router-view>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import navBar from "../components/admin-nav.vue";
export default {
  components: {
    navBar,
  },
  data() {
    return {
      active: "",
      isActive: 1,
    };
  },
};
</script>
<style scoped>
.active {
  background: rgb(248, 248, 248);
  border: none;
  /* border-right: 5px solid #5f45f0 !important; */
  color: rgb(9, 8, 14);
}
/* Primary Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
.s-layout {
  /* display: flex; */
  min-height: 100vh;
}

/* .s-layout__content {
  display: flex;
  flex: 1;
} */

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  /* background: #192b3c; */
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  background: #243e56;
  color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav > ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #4d6276;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.collapse {
  background: gray;
}
.menuActive {
  background: red !important;
}
/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }
}
@media (max-width: 768px) {
  .s-sidebar__trigger {
    width: 70% !important;
  }
}
</style>
