<template>
  <div>
    <div class="topnav w-100">
      <div class="dropdown">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
          <img src="../assets/image/6515489.png" alt="" style="width: 30px" />
        </span>
        <ul class="dropdown-menu">
          <li>Đổi mật khẩu</li>
          <li @click="doLogout">Đăng xuất</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    doLogout() {
      this.$store.dispatch("doLogout").then(() => {
        window.location.href = "/admin";
      });
    },
  },
};
</script>
<style scoped>
.topnav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px 5px #999999;
  text-align: end;
  padding: 14px 16px;
}
.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: gray;
  color: white;
}
</style>
