<template>
  <footer>
    <div class="bg-footer">
      <div class="container pt-3 pb-3">
        <div class="row">
          <div class="col-md-5 align-middle">
            <div class="float-left">
              <img src="../assets/image/logo.png" alt="" />
            </div>
            <div class="text-white ml-3">
              <h5>HỘI NGƯỜI MÙ TỈNH LẠNG SƠN</h5>
              <p>
                Địa chỉ: 81 Lê Đại Hành, Phường Vĩnh Trại, TP Lạng Sơn, tỉnh
                Lạng Sơn
              </p>
              <p>Hotline: 0359126140</p>
              <p>Email: hnmlangson@gmail.com</p>
              <p>Ngân hàng Sacombank CN Lạng Sơn</p>
              <p>STK: 030073867602</p>
            </div>
          </div>
          <div class="col-md-3 mid">
            <ul class="text-white">
              <li class="mt-2">TRANG CHỦ</li>
              <li class="mt-2">GIỚI THIỆU</li>
              <li class="mt-2">THƯ NGỎ</li>
              <li class="mt-2">TÂM ĐIỂM</li>
              <li class="mt-2">KẾT NỐI YÊU THƯƠNG</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="text-white">NHÀ HẢO TÂM</div>
            <div class="text-white mt-2">LIÊN HỆ</div>
            <ul class="icon-footer mt-3">
              
            
                <li class="nav-item ml-2">
                  <a v-bind:href="contract.facebook.link">
                    <img
                      src="../assets/image/Group6.png"
                      alt=""
                      class="size-35"
                    />
                  </a>
                </li>
                <li class="nav-item ml-2">
                  <a v-bind:href="contract.youtube.link">
                    <img
                      src="../assets/image/Group5.png"
                      alt=""
                      class="size-35"
                    />
                  </a>
                </li>
                <li class="nav-item ml-2">
                  <a v-bind:href="contract.twitter.link">
                    <img
                      src="../assets/image/Group4.png"
                      alt=""
                      class="size-35"
                    />
                  </a>
                </li>
                <li class="nav-item ml-2">
                  <a v-bind:href="contract.zalo.link">
                    <img
                      src="../assets/image/Group3.png"
                      alt=""
                      class="size-35"
                    />
                  </a>
                </li>
              </ul>
           
          </div>
        </div>
      </div>
    </div>
    <div class="bg-footer-2">
      <p class="text-center text-white pt-3 pb-3 mb-0">
        Copyright © 2015 TRANG TIN ĐIỆN TỬ HỘI NGƯỜI MÙ TỈNH LẠNG SƠN
      </p>
    </div>
  </footer>
</template>

<script>
import { HTTP } from "@/main";
export default {
  name: "logo",
  data() {
    return {
      contract: {
        facebook: {},
        twitter: {},
        youtube: {},
        zalo: {},
        hotline: {},
      },
    };
  },
  beforeMount() {
    this.getListContact();
  },
  methods: {
    getListContact() {
      HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.contract.facebook = lienHe[0];
          this.contract.twitter = lienHe[1];
          this.contract.youtube = lienHe[2];
          this.contract.zalo = lienHe[3];
          this.contract.hotline = lienHe[4];
        } else {
          this.message = result.message;
        }
      });
    },
  },
};
</script>


<style scoped>
.bg-footer {
  background: #333333;
}
.bg-footer-2 {
  background: #81c6ff;
}
.icon-footer li {
  float: left;
}
.icon-footer li img {
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.align-middle {
  display: flex;
  align-items: center;
}
</style>
