<template>
  <div class="mt-2 sticky">
    <!-- ================ Menu =================-->
    <div class="container">
      <nav class="navbar navbar-expand-sm justify-content-between">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav w-100 justify-content-between text-black">
            <li class="nav-item">
              <router-link
                :to="{
                  name: 'trangChu',
                }"
                class="nav-link"
              >
                TRANG CHỦ
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'gioiThieu' }" class="nav-link">
                GIỚI THIỆU
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'index-thuNgo' }" class="nav-link">
                THƯ NGỎ
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'index-tamDiem' }" class="nav-link">
                TÂM ĐIỂM
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                :to="{ name: 'index-ketNoiYeuThuong' }"
                class="nav-link"
              >
                KẾT NỐI YÊU THƯƠNG
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'index-nhaHaoTam' }" class="nav-link">
                NHÀ HẢO TÂM
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'lienHe' }" class="nav-link">
                LIÊN HỆ
              </router-link>
            </li>
            <!-- <li class="nav-item">
              <input
                type="search"
                class="mt-1 search"
                placeholder="Tìm kiếm..."
              />
            </li> -->
          </ul>
        </div>
      </nav>
      <hr />
      <!-- ====================================== -->
    </div>
  </div>
</template>

<script>
export default {
  name: "headerComponent",
};
</script>
<style scoped>
.text-black li a {
  color: black;
  font-weight: 600;
}
.text-black li a:hover {
  color: #b8292f;
}
.search {
  border: 1px solid #dde2e5;
  border-radius: 4px;
  outline: none;
  padding: 0 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.size-35 {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}
hr {
  margin-top: 0;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
  background: rgba(255, 255, 255, 1);
}
</style>
