<template>
  <div class="img-loading">
    <img src="@/assets/loading.gif" alt="Loading" title="Loading" />
  </div>
</template>

<script>
export default {
  name: "loadingData",
};
</script>

<style type="text/css" scoped>
.img-loading {
  width: 100%;
  text-align: center;
}

.img-loading img {
  height: 40px;
}
</style>
