<template>
  <div class="bg-color-main">
    <div class="container">
      <nav class="navbar navbar-expand-md justify-content-between">
        <!-- Brand/logo -->
        <div class="float-left">
          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand" href="#">
                <img
                  src="../assets/image/logo.png"
                  alt="logo"
                  style="width: 65px"
                />
              </a>
            </li>
            <li class="nav-item dis-flex">
              <h5 class="text-white">
                LANG SON <br />
                BLIND ASSOCIATION
              </h5>
            </li>
          </ul> -->
          <router-link :to="{ name: 'home' }">
            <div class="row">
              <div class="col-3">
                <img
                  src="../assets/image/logo.png"
                  alt="logo"
                  style="width: 65px"
                />
              </div>
              <div class="col-9 dis-flex">
                <h5 class="text-white m-0 pl-3">
                  HỘI NGƯỜI MÙ <br />
                  TỈNH LẠNG SƠN
                </h5>
              </div>
            </div>
          </router-link>
        </div>
        <!-- Links -->
        <div class="float-right hidden">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a v-bind:href="contract.facebook.link">
                <img src="../assets/image/Group6.png" alt="" class="size-35" />
              </a>
            </li>
            <li class="nav-item">
              <a v-bind:href="contract.youtube.link">
                <img src="../assets/image/Group5.png" alt="" class="size-35" />
              </a>
            </li>
            <li class="nav-item">
              <a v-bind:href="contract.twitter.link">
                <img src="../assets/image/Group4.png" alt="" class="size-35" />
              </a>
            </li>
            <li class="nav-item">
              <a v-bind:href="contract.zalo.link">
                <img src="../assets/image/Group3.png" alt="" class="size-35" />
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- ====================================== -->
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
export default {
  name: "logo",
  data(){
    return{
       contract: {
        facebook: {},
        twitter: {},
        youtube: {},
        zalo: {},
        hotline: {},
      },
    }
  },
  beforeMount(){
    this.getListContact();
  },
  methods: {
     getListContact() {
      HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.contract.facebook = lienHe[0];
          this.contract.twitter = lienHe[1];
          this.contract.youtube = lienHe[2];
          this.contract.zalo = lienHe[3];
          this.contract.hotline = lienHe[4];
        } else {
          this.message = result.message;
        }
      });
    },
  }

};
</script>
<style scoped>
.text-black li a {
  color: black;
  font-weight: 600;
}
.text-black li a:hover {
  color: #b8292f;
}
.search {
  border: 1px solid #dde2e5;
  border-radius: 4px;
  outline: none;
  padding: 0 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.size-35 {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}
hr {
  margin-top: 0;
}
</style>
