<template>
  <div class="row1">
    <div>
      <side-bar></side-bar>
    </div>
  </div>
</template>
<script>
import sideBar from "../../components/admin-sidebar.vue";
export default {
  components: {
    sideBar,
  },
};
</script>
