<template>
  <div class="bg-main">
    <router-view></router-view>
  </div>
</template>
<script>
export default {};
</script>
<style>
  .bg-main{
  background-image: url("../../assets/image/4860404.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

.bg-8 {
  background: rgba(255, 255, 255, 0.56);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.button-color{
  background: #243e56;
  color: white;
}
*{
  font-family: "open-sans", sans-serif;
}
.color-main{
  color: #4d6276;
}
.border-main{
  border-radius: 20px;
    border-color: #467199;
}
.table .thead-dark th {
    color: #fff;
    background-color: #243e56;
    border-color: #454d55;
}
.btn-primary {
    color: #fff;
    background-color: #58b4ff;
    border-color: #58b4ff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #243e56;
    border-color: #243e56;
}
.ql-align-center{
  text-align: center;
}
.ql-align-right{
  text-align: right;
}
.ql-align-left{
  text-align: left;
}
.ql-align-justify{
  text-align: justify;
}
</style>
