<template>
  <div class="bg-gradient-primary" style="min-height: 100vh">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5" style="top: 30%">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="w-75 mx-auto">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                    </div>
                    <form class="user" @submit.prevent="doLogin">
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control form-control-user"
                          id="exampleInputEmail"
                          aria-describedby="emailHelp"
                          placeholder="Nhập số điện thoại..."
                          v-model="post.phone"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          id="exampleInputPassword"
                          placeholder="Mật khẩu..."
                          v-model="post.password"
                        />
                      </div>
                      <div class="text-center">
                        <!-- <a
                          href="index.html"
                          class="btn btn-primary btn-user btn-block w-50"
                        >
                          Login
                        </a> -->
                        <!-- <router-link
                          :to="{ name: 'trangChuAdmin' }"
                          class="btn btn-primary btn-user btn-block w-50"
                          >Đăng nhập</router-link
                        > -->
                        <button
                          type="submit"
                          class="btn btn-primary btn-user btn-block w-50"
                         
                        >
                          Đăng nhập
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { HTTP } from "@/main";
import jQuery from "jquery";

export default {
  name: "login",

  data() {
    return {
      post: {
        phone: "",
        password: "",
      },
    };
  },
  methods: {
    doLogin() {
        let phone = this.post.phone;
      let password = this.post.password;
      jQuery("button").attr("disabled", true);
        this.$store.dispatch("doLogin", { phone, password }).then((res) => {
          let result = res.data;
          if (result.status === 1) {
            window.location.href = "/admin/trang-chu-admin";
          } else {
            this.$swal("", result.message, "error");
            jQuery("button").attr("disabled", false);
          }
        });
    },
  },
  mounted() {
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
.bg-login-image {
  background-position: center;
  background-size: cover;
}
.bg-register-image {
  background-position: center;
  background-size: cover;
}
.bg-password-image {
  background-position: center;
  background-size: cover;
}
form.user .custom-checkbox.small label {
  line-height: 1.5rem;
}
form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}
form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}
</style>
