<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <h2 class="font-weight-bold">
          {{ detail.title }}
        </h2>
        <div class="mt-3 td-2-info">
          <h6 class="td-2-infor">
            <span class="font-weight-bold"> {{ detail.author }} </span>
            <!-- &middot; {{ formatDate(detail.created_at) }} -->
          </h6>
        </div>
        <img :src="detail.image" alt="" class="w-100 mt-2" />
        <div class="ql-editor">
          <p class="mt-3" v-html="detail.content"></p>
        </div>
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">TÂM ĐIỂM</span>
        <div class="td-img mt-4" v-for="(item, index) in listTd" :key="index">
          <router-link
            :to="{ name: 'chiTietTamDiem', params: { tamDiemId: item.slug } }"
            v-if="index <= 5"
          >
            <img :src="item.image" alt="" class="w-100 nht-img" />
          </router-link>
        </div>
        <!-- ========================================= -->
        <div class="mt-5">
          <span class="bg-btn-main">HỖ TRỢ TRỰC TUYẾN</span>
          <div class="mt-5 text-center">
            <img src="../../assets/image/Group782.png" alt="" />
            <h4 class="mt-3 font-weight-bold" style="color: #4f4f4f">
              Hotline: {{hotline}}
            </h4>
          </div>
        </div>
        <!-- ========================================= -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "chiTietNhaHaoTam",
  components: {
    loadingData,
  },
  data() {
    return {
      listTd: {},
      detail: {},
      loading: true,
      nhaHaoTam_Id: "",
      hotline: "",
    };
  },
  created() {
    this.nhaHaoTam_Id = this.$route.params.nhtId;
  },

  beforeMount() {
    this.getDetail();
    this.getListTamDiem();
    this.getContact();
  },
  methods: {
    // chi tiết bài đăng
    getDetail() {
      HTTP.get(`/detail-post/${this.nhaHaoTam_Id}`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detail = result.data;
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ===========================

    // danh sách tâm điểm
    getListTamDiem() {
      HTTP.get(`/list-post?category_id=2`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listTd = result.data.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================
    formatDate,
    getContact(){
       HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.hotline = lienHe[4].content;
        } else {
          this.hotline = "";
        }
      });
    }
  },
  mounted() {
    window.scrollTo(0, 0);
  },
};
</script>
<style scoped>
.nht-img {
  height: 200px;
}
</style>
