<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <router-link
          :to="{ name: 'chiTietNhaHaoTam', params: { nhtId: topNht.slug } }"
        >
          <img :src="topNht.image" alt="" class="w-100 td-top" />
          <div class="mt-3 margin-top-15">
            <h5 class="font-weight-bold text-overflow">
              {{ topNht.title }}
            </h5>
            <h6 class="td-infor mt-3">
              <span class="font-weight-bold"> {{ topNht.author }} </span>
              <!-- &middot; {{ formatDate(topNht.created_at) }} -->
            </h6>
            <p class="td-content text-overflow" v-html="topNht.content"></p>
          </div>
        </router-link>
        <hr />
        <!-- ============================= -->
        <div v-for="(item, index) in listNht" :key="index">
          <router-link
            :to="{
              name: 'chiTietNhaHaoTam',
              params: { nhtId: item.slug, slug: item.slug },
            }"
            v-if="index != 0"
          >
            <div class="row mt-3">
              <div class="col-md-4">
                <div class="nht-2-img">
                  <img :src="item.image" alt="" class="w-100" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="td-2-title margin-top-15">
                  <h5 class="text-overflow font-weight-bold">
                    {{ item.title }}
                  </h5>
                </div>
                <div class="mt-3 td-2-info">
                  <h6 class="td-2-infor">
                    <span class="font-weight-bold"> {{ item.author }} </span>
                    <!-- &middot; {{ formatDate(item.created_at) }} -->
                  </h6>
                  <p class="td-content text-overflow" v-html="item.content"></p>
                </div>
              </div>
            </div>
            <hr />
          </router-link>
        </div>
        <!-- ============================= -->

        <!-- phân trang -->
        <div v-if="paginate.totalPage == 1"></div>
        <div v-else class="mt-3">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              style="cursor: pointer; color: #d4476f !important"
              :class="{ disabled: paginate.currentPage === 1 }"
            >
              <span class="page-link" @click="changePage(1)">Đầu</span>
            </li>
            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage - 1)"
                v-if="paginate.currentPage > 1"
              >
                <i class="fas fa-angle-left"></i>
              </span>
            </li>

            <li
              class="page-item"
              v-for="(page, index) in paginate.totalPage"
              :key="index"
              :class="{ active: paginate.currentPage === page }"
              style="cursor: pointer"
            >
              <span
                class="page-link"
                @click="changePage(index + 1)"
                v-if="
                  index + 1 == paginate.currentPage ||
                  index + 1 == paginate.currentPage + 1 ||
                  index + 1 == paginate.currentPage - 1
                "
              >
                {{ index + 1 }}
              </span>
            </li>

            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage + 1)"
                v-if="paginate.currentPage < paginate.totalPage"
              >
                <i class="fas fa-angle-right"></i>
              </span>
            </li>
            <li
              class="page-item"
              style="cursor: pointer"
              :class="{
                disabled: paginate.currentPage == paginate.totalPage,
              }"
            >
              <span class="page-link" @click="changePage(paginate.totalPage)"
                >Cuối</span
              >
            </li>
          </ul>
        </div>
        <!-- ============ -->
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">TÂM ĐIỂM</span>
        <div class="td-img mt-4" v-for="(item, index) in listTd" :key="index">
          <router-link
            :to="{ name: 'chiTietTamDiem', params: { tamDiemId: item.slug } }"
          >
            <img v-if="index <= 5" :src="item.image" alt="" class="w-100" />
          </router-link>
        </div>
        <!-- ========================================= -->
        <div class="mt-5">
          <span class="bg-btn-main">HỖ TRỢ TRỰC TUYẾN</span>
          <div class="mt-5 text-center">
            <img src="../../assets/image/Group782.png" alt="" />
            <h4 class="mt-3 font-weight-bold" style="color: #4f4f4f">
              Hotline: {{hotline}}
            </h4>
          </div>
        </div>
        <!-- ========================================= -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "nhaHaoTam",
  components: {
    loadingData,
  },
  data() {
    return {
      paginate: {
        currentPage: 1,
        totalPage: "",
      },
      loading: true,
      nht_id: "",
      listNht: {},
      topNht: {},
      listTd: {},
      hotline: "",
    };
  },

  beforeMount() {
    this.getListNht();
    this.getListTd();
    this.getContact();
  },
  methods: {
    // Danh sách thư ngỏ
    getListNht() {
      let page = this.paginate.currentPage;
      HTTP.get(`/list-post?category_id=4&page=${page}`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listNht = result.data.data;
          this.topNht = this.listNht[0];
          this.paginate.currentPage = result.data.current_page;
          this.paginate.totalPage = result.data.last_page;
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ===================
    // Danh sách knyt
    getListTd() {
      HTTP.get(`/list-post?category_id=2`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listTd = result.data.data;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================
    // chuyển trang
    changePage(index) {
      this.paginate.currentPage = index;
      this.getListNht();
    },
    // =================
    formatDate,
    getContact(){
       HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.hotline = lienHe[4].content;
        } else {
          this.hotline = "";
        }
      });
    }
  },
};
</script>
<style scoped>
.nht-2-img img {
  height: 120px;
}
.td-img img {
  height: 210px;
}
.td-top {
  height: 400px;
}
</style>
