<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <h2 class="font-weight-bold">
          {{ detail.title }}
        </h2>
        <div class="mt-3 td-2-info">
          <h6 class="td-2-infor">
            <span class="font-weight-bold"> {{ detail.author }} </span>
            <!-- &middot; {{ formatDate(detail.created_at) }} -->
          </h6>
        </div>
        <img :src="detail.image" alt="" class="w-100 mt-2" />
        <div class="ql-editor">
          <p class="mt-3" v-html="detail.content"></p>
        </div>
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">KẾT NỐI YÊU THƯƠNG</span>
        <div class="td-img mt-4">
          <router-link
            :to="{
              name: 'chiTietKetNoiYeuThuong',
              params: { knytId: ketNoiYeuThuong.post.slug },
            }"
          >
            <img :src="ketNoiYeuThuong.post.image" alt="" class="w-100" />
          </router-link>
        </div>
        <!-- =================================== -->
        <div
          class="mt-4"
          v-for="(item, index) in ketNoiYeuThuong.general"
          :key="index"
        >
          <router-link
            :to="{
              name: 'chiTietKetNoiYeuThuong',
              params: { knytId: item.slug },
            }"
            v-if="index >= 1 && index <= 5"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="ct-2-img">
                  <img :src="item.image" alt="" class="w-100" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="td-2-title margin-top-15">
                  <h5 class="text-overflow font-weight-bold">
                    {{ item.title }}
                  </h5>
                </div>
                <div class="mt-3 td-2-info">
                  <h6 class="td-2-infor">
                    <span class="font-weight-bold"> {{ item.author }} </span>
                    <!-- &middot; {{ formatDate(item.created_at) }} -->
                  </h6>
                </div>
              </div>
            </div>
            <hr />
          </router-link>
        </div>
        <!-- ======================================== -->
        <!-- ========================================= -->
        <div class="mt-5">
          <span class="bg-btn-main">HỖ TRỢ TRỰC TUYẾN</span>
          <div class="mt-5 text-center">
            <img src="../../assets/image/Group782.png" alt="" />
            <h4 class="mt-3 font-weight-bold" style="color: #4f4f4f">
              Hotline: {{hotline}}
            </h4>
          </div>
        </div>
        <!-- ========================================= -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "chiTietThuNgo",
  components: {
    loadingData,
  },
  data() {
    return {
      loading: true,
      thuNgo_id: "",
      detail: {},
      ketNoiYeuThuong: {
        post: {},
        general: {},
      },
      hotline: "",
    };
  },
  created() {
    this.thuNgo_id = this.$route.params.thuNgoId;
  },
  beforeMount() {
    this.getListTn();
    this.getListKetNoiYeuThuong();
    this.getContact();
  },
  methods: {
    // chi tiết thư ngỏ
    getListTn() {
      HTTP.get(`/detail-post/${this.thuNgo_id}`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detail = result.data;
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ===========================
    // danh sách kết nối yêu thương
    getListKetNoiYeuThuong() {
      HTTP.get(`/list-post?category_id=3`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let ketNoiYeuThuong = result.data.data;
          this.ketNoiYeuThuong.post = ketNoiYeuThuong[0];
          this.ketNoiYeuThuong.general = ketNoiYeuThuong;
        } else {
          this.message = result.message;
        }
      });
    },
    // ===================
    formatDate,
    getContact(){
       HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.hotline = lienHe[4].content;
        } else {
          this.hotline = "";
        }
      });
    }
  },
};
</script>
<style scoped>
.ct-2-img img {
  height: 100px;
}
</style>
