<template>
  <div id="nav">
    <router-view></router-view>
    <ScrollTopArrow></ScrollTopArrow>
  </div>
</template>
<script>
import ScrollTopArrow from "./components/ScrollTopArrow";
export default {
  components: {
    ScrollTopArrow,
  },
};
</script>
