<template>
  <div>
    <logo></logo>
    <headerComponent></headerComponent>
    <div class="container">
      <router-view />
    </div>
    <div class="mt-3">
      <footerComponent></footerComponent>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import headerComponent from "@/components/Header.vue";
import logo from "@/components/logo.vue";
import footerComponent from "@/components/footer.vue";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import { VueEditor, Quill } from "vue3-editor";


export default {
  components: {
    headerComponent,
    footerComponent,
    logo,
    
  },
};
</script>
<style>
@font-face {
  font-family: "open-sans";
  src: url(../public/font/OpenSans-Regular.ttf);
}
.ql-align-center{
  text-align: center;
}
.ql-align-right{
  text-align: right;
}
.ql-align-left{
  text-align: left;
}
.ql-align-justify{
  text-align: justify;
}
* {
  font-size: 14px;
  font-family: "open-sans";
}

.font-main{
  font-family: "open-sans";
}
.bg-color-main {
  background: #58b4ff;
}
a {
  color: black !important;
  text-decoration: none !important;
}
a:hover {
  color: #b8292f !important;
}
#nav a.router-link-exact-active,
.router-link-active {
  color: #b8292f !important;
}
.navbar {
  padding: 8px 0 !important;
}
.dis-flex {
  display: flex;
  align-items: center;
}
.bg-btn-new {
  background: #58b4ff;
  padding: 10px 20px;
  border-radius: 4px;
}
.bg-btn-new-small {
  background: #58b4ff;
  padding: 4px 10px;
  border-radius: 4px;
}
.bg-btn-main {
  background: #58b4ff;
  padding: 10px 16px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
}

.text-overflow {
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    line-height: 25px; /* Fallback  */
    max-height: 50px; /* Fallback số dòng bạn muốn giới hạn */
    -webkit-line-clamp: 2; /* Số dòng bạn muốn giới hạn */
    visibility: visible; /* Tránh bug không giới hạn số dòng được do trình duyệt */
    text-overflow: ellipsis;
    overflow:hidden;
    
  -webkit-box-orient: vertical;
}
.text-overflow-3 {
 display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    line-height: 25px; /* Fallback  */
    max-height: 70px; /* Fallback số dòng bạn muốn giới hạn */
    -webkit-line-clamp: 3; /* Số dòng bạn muốn giới hạn */
    visibility: visible; /* Tránh bug không giới hạn số dòng được do trình duyệt */
    text-overflow: ellipsis;
    overflow:hidden;
    
  -webkit-box-orient: vertical;
}
img {
  object-fit: cover;
  border-radius: 4px;
}
p img{
  max-width: 100%;
  height: auto;
}
/* ==============RES================== */
@media only screen and (max-width: 768px) {
  p img{
    max-width:80vw;
    height: auto;
  }
  .margin-top-15 {
    margin-top: 10px !important;
  }
  .hidden {
    display: none;
  }
  .top-news .tn-title {
    padding: 15px !important;
  }
  .padding-left-0 {
    padding-left: 10.5px !important;
  }
}
/* =================================== */
</style>
