<template>
  <div class="container">
    <loadingData v-if="loading"></loadingData>
    <div v-else class="row">
      <div class="col-md-7">
        <!-- ============================= -->
        <div v-for="(item, index) in detail" :key="index">
          <router-link
            :to="{ name: 'chiTietTamDiem', params: { tamDiemId: item.slug } }"
          >
            <div class="row mt-3">
              <div class="col-md-4">
                <div class="td-2-img">
                  <img :src="item.image" alt="" class="w-100" />
                </div>
              </div>
              <div class="col-md-8">
                <div class="td-2-title margin-top-15">
                  <h5 class="text-overflow font-weight-bold">
                    {{ item.title }}
                  </h5>
                </div>
                <div class="mt-1 td-2-info">
                  <h6 class="td-2-infor">
                    <span class="font-weight-bold"> {{ item.author }} </span>
                    <!-- &middot; {{ formatDate(item.created_at) }} -->
                  </h6>
                  <p class="td-content text-overflow" v-html="item.content">
                  
                  </p>
                </div>
              </div>
            </div>
            <hr />
          </router-link>
        </div>
        <!-- ============================= -->
        
        <!-- phân trang -->
        <div v-if="paginate.totalPage == 1"></div>
        <div v-else class="mt-3">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              style="cursor: pointer; color: #d4476f !important"
              :class="{ disabled: paginate.currentPage === 1 }"
            >
              <span class="page-link" @click="changePage(1)">Đầu</span>
            </li>
            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage - 1)"
                v-if="paginate.currentPage > 1"
              >
                <i class="fas fa-angle-left"></i>
              </span>
            </li>

            <li
              class="page-item"
              v-for="(page, index) in paginate.totalPage"
              :key="index"
              :class="{ active: paginate.currentPage === page }"
              style="cursor: pointer"
            >
              <span
                class="page-link"
                @click="changePage(index + 1)"
                v-if="
                  index + 1 == paginate.currentPage ||
                  index + 1 == paginate.currentPage + 1 ||
                  index + 1 == paginate.currentPage - 1
                "
              >
                {{ index + 1 }}
              </span>
            </li>

            <li class="page-item" style="cursor: pointer">
              <span
                class="page-link"
                style="height: 100%"
                @click="changePage(paginate.currentPage + 1)"
                v-if="paginate.currentPage < paginate.totalPage"
              >
                <i class="fas fa-angle-right"></i>
              </span>
            </li>
            <li
              class="page-item"
              style="cursor: pointer"
              :class="{
                disabled: paginate.currentPage == paginate.totalPage,
              }"
            >
              <span class="page-link" @click="changePage(paginate.totalPage)"
                >Cuối</span
              >
            </li>
          </ul>
        </div>
        <!-- ============ -->
      </div>
      <div class="col-md-5 mt-2">
        <span class="bg-btn-main">KẾT NỐI YÊU THƯƠNG</span>
        <div class="td-img mt-4">
          <router-link
            :to="{
              name: 'chiTietKetNoiYeuThuong',
              params: { knytId: slug_knyt },
            }"
          >
            <img :src="image0" alt="" class="w-100" />
          </router-link>
        </div>
        <!-- =================================== -->
        <div v-for="(item, index) in listKnyt" :key="index">
          <div v-if="index != 0 && index <= 3">
            <router-link
              :to="{
                name: 'chiTietKetNoiYeuThuong',
                params: { knytId: item.slug },
              }"
            >
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="knyt-2-img">
                    <img :src="item.image" alt="" class="w-100" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="td-2-title margin-top-15">
                    <h5 class="text-overflow font-weight-bold">
                      {{ item.title }}
                    </h5>
                  </div>
                  <div class="mt-3 td-2-info">
                    <h6 class="td-2-infor">
                      <span class="font-weight-bold"> {{ item.author }} </span>
                      <!-- &middot; {{ formatDate(item.created_at) }} -->
                    </h6>
                  </div>
                </div>
              </div>
              <hr />
            </router-link>
          </div>
        </div>
        <!-- ======================================== -->
        <!-- ========================================= -->
        <div class="mt-5">
          <span class="bg-btn-main">HỖ TRỢ TRỰC TUYẾN</span>
          <div class="mt-5 text-center">
            <img src="../../assets/image/Group782.png" alt="" />
            <h4 class="mt-3 font-weight-bold" style="color: #4f4f4f">
              Hotline: {{hotline}}
            </h4>
          </div>
        </div>
        <!-- ========================================= -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";
import loadingData from "@/components/loadingData";
export default {
  name: "tamDiem",
  components: {
    loadingData,
  },
  data() {
    return {
      paginate: {
        currentPage: 1,
        totalPage: "",
      },
      loading: true,
      td_id: "",
      detail: {},
      image0: "",
      slug_knyt: "",
      listKnyt: {},
      hotline: "",
    };
  },
  created() {
    this.getKnyt();
  },
  beforeMount() {
    this.getListTamDiem();
    this.getContact();
    this.getKnyt();
  },
  methods: {
    // danh sách kết nối yêu thương
    getListTamDiem() {
      let page = this.paginate.currentPage;
      HTTP.get(`/list-post?category_id=2&page=${page}`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.detail = result.data.data;
          this.paginate.currentPage = result.data.current_page;
          this.paginate.totalPage = result.data.last_page;
        } else {
          this.message = result.message;
        }
        this.loading = false;
      });
    },
    // ======================

    // danh sách kết nối yêu thương
    getKnyt() {
      HTTP.get(`/list-post?category_id=3`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listKnyt = result.data.data;
          this.image0 = this.listKnyt[0].image;
          this.slug_knyt = this.listKnyt[0].slug;
        } else {
          this.message = result.message;
        }
      });
    },
    // =============================
    // chuyển trang
    changePage(index) {
      this.paginate.currentPage = index;
      this.getListTamDiem();
    },
    // =================
    formatDate,
    getContact(){
       HTTP.get(`/list-contact`).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          let lienHe = result.data;
          this.hotline = lienHe[4].content;
        } else {
          this.hotline = "";
        }
      });
    }
  },
};
</script>
<style scoped>
.td-2-img img {
  height: 120px;
}
.knyt-2-img img {
  height: 100px;
}
.td-img img {
  height: 400px;
}
</style>
