<template>
  <div class="container">
    <div class="bg-8 container pt-3">
      <div class="container mt-2">
        <button
          class="btn btn-primary"
          style="float: right"
          data-toggle="modal"
          data-target="#update"
        >
          Cập nhật
        </button>

        <h3 class="mt-3 text-center">Thông tin về Hội người mù Lạng Sơn:</h3>
      </div>
      <div class="table-responsive mt-3">
        <table class="table mt-1">
          <tr>
            <th>Số điện thoại:</th>
            <td>{{ information.phone }}</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>{{ information.email }}</td>
          </tr>
          <tr>
            <th>Địa chỉ:</th>
            <td>{{ information.address }}</td>
          </tr>
          <tr>
            <th>Website:</th>
            <td>{{ information.website }}</td>
          </tr>
        </table>
        <div class="modal fade" id="update" role="dialog">
          <div class="modal-dialog" style="top: 15%">
            <div class="modal-content">
              <div class="modal-body">
                <h3>Cập nhật thông tin:</h3>
                <table class="table table-borderless">
                  <tbody>
                    <tr class="form-group">
                      <td style="width: 20%">
                        <div class="text-right table-input">Số điện thoại:</div>
                      </td>
                      <td style="width: 70%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="information.phone"
                        />
                      </td>
                    </tr>
                    <tr class="form-group">
                      <td>
                        <div class="text-right table-input">Email:</div>
                      </td>
                      <td style="width: 85%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="information.email"
                        />
                      </td>
                    </tr>

                    <tr class="form-group">
                      <td>
                        <div class="text-right">Địa chỉ:</div>
                      </td>
                      <td style="width: 85%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="information.address"
                        />
                      </td>
                    </tr>

                    <tr class="form-group">
                      <td>
                        <div class="text-right">Link website:</div>
                      </td>
                      <td style="width: 85%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="information.website"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-danger"
                  style="opacity: 0.5"
                  data-dismiss="modal"
                >
                  Huỷ
                </button>
                <button
                  @click="submitUpdateInfo"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="bg-8 container pt-3">
      <div class="container">
        <h3 class="mt-3 text-center">Thông tin mạng xã hội:</h3>
      </div>
      <div class="container table-responsive mt-3">
        <table class="table table-hover container mt-1">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <!-- <th>Icon</th> -->
              <th>Mạng xã hội</th>
              <th>Link</th>
              <th>Số follow</th>
              <th class="text-center">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(contact, index) in listContact" :key="index">
              <td>{{ index + 1 }}</td>
              <!-- <td>
              <img
                :src="contact.icon"
                alt="icon"
                style="max-width: 70px; max-height: 70px"
              />
            </td> -->
              <td>{{ contact.name }}</td>
              <td>{{ contact.link }}</td>
              <td>{{ contact.content }}</td>
              <td class="text-center">
                <a
                  style="cursor: pointer"
                  data-toggle="modal"
                  data-target="#update3"
                  @click="clickUpdate(contact.id)"
                  class="btn btn-primary btn-circle btn-sm"
                >
                  <i class="fas fa-info-circle"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="modal fade" id="update3" role="dialog">
          <div class="modal-dialog" style="top: 15%">
            <div class="modal-content">
              <div class="modal-body">
                <h3>Cập nhật thông tin:</h3>
                <table class="table table-borderless">
                  <tbody>
                    <tr class="form-group">
                      <td style="width: 20%">
                        <div class="text-right table-input">Mạng xã hội:</div>
                      </td>
                      <td style="width: 70%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="updateTable.name"
                        />
                      </td>
                    </tr>
                    <tr class="form-group">
                      <td>
                        <div class="text-right table-input">Link:</div>
                      </td>
                      <td style="width: 85%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="updateTable.link"
                        />
                      </td>
                    </tr>

                    <tr class="form-group">
                      <td>
                        <div class="text-right">Lượt theo dõi:</div>
                      </td>
                      <td style="width: 85%">
                        <input
                          class="form-control"
                          type="text"
                          style="width: 100%"
                          v-model="updateTable.content"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-danger"
                  style="opacity: 0.5"
                  data-dismiss="modal"
                >
                  Huỷ
                </button>
                <button
                  @click="submitUpdateTable"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============== -->
      </div>
    </div>
  </div>
</template>
<script>
import { HTTP } from "@/main";
import { formatDate } from "@/main";

export default {
  data() {
    return {
      page: "",
      listContact: {},
      information: {},
      idContact: "",
      updateTable: {
        name: "",
        link: "",
        content: "",
      },
    };
  },
  beforeMount() {
    this.getListContact();
    this.getInformation();
  },

  methods: {
    getListContact() {
      HTTP.get("/admin/contact/list-contact").then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.listContact = result.data;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },

    getInformation() {
      HTTP.get("/admin/information").then((res) => {
        let result = res.data;
        if (result.status === 1) {
          this.information = result.data;
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },

    // Cập nhật bảng
    clickUpdate(value) {
      this.idContact = value;
      this.detailRowTable();
    },

    // Chi tiết 1 hàng
    detailRowTable() {
      HTTP.get(`/admin/contact/detail-contact/${this.idContact}`).then(
        (res) => {
          let result = res.data;
          // console.log(result);
          if (result.status === 1) {
            let data = result.data;
            this.updateTable = data;
          }
        }
      );
    },
    // ================// Cập nhật bảng
    submitUpdateInfo() {
      HTTP.put(`/admin/update-information`, this.information).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          // this.content = "";
          this.getInformation();
          this.$swal("", result.message, "success");
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
    submitUpdateTable() {
      HTTP.put(
        `/admin/contact/update-contact/${this.idContact}`,
        this.updateTable
      ).then((res) => {
        let result = res.data;
        if (result.status === 1) {
          // this.content = "";
          this.getListContact();
          this.$swal("", result.message, "success");
        } else {
          this.$swal("", result.message, "error");
        }
      });
    },
  },
};
</script>
